body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(17, 53, 255);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 30px;
    background-color: rgb(46, 48, 63);
    color: aliceblue;
    font-size: 28px;
}
.userHead {
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userImg {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50px;
}
.userImg img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
main {
    display: flex;
}
.userLists {
    width: 50%;
    height: 90vh;
    border-right: 4px dashed black;
}
.userLists button {
    padding: 0 30px;
    height: 50px;
    margin-top: 2.5%;
    margin-left: 2.5%;
    font-size: 28px;
    background-color: rgb(124, 124, 124);
    color: white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}
.userLists button:hover {
    outline: 4px solid rgb(0, 255, 0);
}
.userLists .card {
    font-size: 28px;
    background-color: rgb(124, 124, 124);
    color: white;
    border-radius: 45px;
    width: 95%;
    height: 50px;
    margin-top: 2.5%;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.userLists .card:hover {
    outline: 4px solid rgb(0, 255, 0);
}
.userLists .card .title {
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userLists .delete {
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 150px;
    background-color: rgb(46, 48, 63);
    border-radius: 45px;
    z-index: 1;
}
.userLists .delete:hover {
    outline: 4px solid red;
}
.listContent {
    width: 50%;
    height: 90vh;
}

/* Login Page */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard {
    background-color: white;
    width: 600px;
    height: fit-content;
    padding: 30px;
    border-radius: 80px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
}

form h4 {
    width: 50%;
}

form label {
    width: 50%;
    font-size: 25px;
}

form input {
    all: unset;
    border: none;
    border-bottom: 2px solid rgb(0, 47, 255);
    width: 50%;
    font-size: 22px;
}

form button {
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 50%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
    font-size: 22px;
    padding: 8px;
    border: 1px;
    border-radius: 100px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}