body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 30px;
    background-color: rgb(46, 48, 63);
    color: aliceblue;
    font-size: 28px;
}
.userHead {
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userImg {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50px;
}
.userImg img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
main {
    display: flex;
}

/* All Lists */
.userLists {
    width: 50%;
    height: 90vh;
    border-right: 2px dashed black;
    overflow-y: scroll;
}
.userLists::-webkit-scrollbar {
    display: none;
}
.userLists button {
    padding: 0 30px;
    height: 50px;
    margin: 2.5% 0;
    margin-left: 2.5%;
    font-size: 28px;
    background-color: rgb(124, 124, 124);
    color: white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}
.userLists button:hover {
    outline: 4px solid rgb(0, 255, 0);
}
.userLists .card {
    font-size: 28px;
    background-color: rgb(124, 124, 124);
    color: white;
    border-radius: 45px;
    width: 95%;
    height: 50px;
    margin-top: 2.5%;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.userLists .card:hover {
    outline: 4px solid rgb(0, 255, 0);
}
.userLists .card .title {
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userLists .delete {
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 150px;
    background-color: rgb(46, 48, 63);
    border-radius: 45px;
    z-index: 1;
}
.userLists .delete:hover {
    outline: 4px solid red;
}

/* List Items */
.listContent {
    width: 50%;
    height: 90vh;
    border-left: 2px dashed black;
    overflow-y: scroll;
}
.listContent::-webkit-scrollbar {
    display: none;
}
.listContent button {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 50px;
    margin: 2.5% 0;
    margin-left: 2.5%;
    font-size: 28px;
    background-color: rgb(124, 124, 124);
    color: white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
}
.listContent button:hover {
    outline: 4px solid rgb(0, 255, 0);
}
.listContent .card {
    font-size: 28px;
    background-color: rgb(124, 124, 124);
    color: white;
    border-radius: 45px;
    width: 95%;
    height: 50px;
    margin: 2.5% 0 0 2.5%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    opacity: 1;
}
.listContent .card:hover {
    outline: 4px solid rgb(0, 255, 0);
}
.listContent .card .title {
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listContent .delete {
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 150px;
    background-color: rgb(46, 48, 63);
    border-radius: 45px;
    z-index: 1;
}
.listContent .delete:hover {
    outline: 4px solid red;
}
@keyframes fadeIn {
    0% {
        opacity: 0.1;
        margin-left: -100%;
    }
    100% {
        opacity: 1;
        margin-left: 0%;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        margin-left: 0%;
    }
    100% {
        opacity: 0.1;
        margin-left: 140%;
    }
}
/* Modal Content */
.modalContainerItem {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: all;
}
.modalContainer, .modalContainerItem {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.modal {
    display: flex;
    width: 450px;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(46, 48, 63);
    color: white;
    border-radius: 40px;
    font-size: 22px;
}

.modal form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.modal form label {
    width: 50%;
    font-size: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.modal form input {
    all: unset;
    border: none;
    border-bottom: 2px solid rgb(0, 47, 255);
    width: 50%;
    font-size: 28px;
}

.modal form button {
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    width: 50%;
    height: 50px;
    margin: 2.5% 0;
    margin-left: 2.5%;
    font-size: 28px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 85px;
    cursor: pointer;
}

/* Login Page */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard {
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: fit-content;
    padding: 50px 0px;
    border-radius: 80px;
}

.loginCard form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
}

.loginCard form h1 {
    font-size: 45px;
    padding: 30px 0px;
}

.loginCard form h4 {
    width: 50%;
}

.loginCard form label {
    margin-top: 15px;
    width: 50%;
    font-size: 25px;
}

.loginCard form input {
    all: unset;
    border: none;
    border-bottom: 2px solid rgb(0, 47, 255);
    width: 50%;
    font-size: 22px;
}

.loginCard form button {
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 50%;
    background-color: rgb(0, 47, 255);
    color: white;
    font-size: 22px;
    padding: 8px;
    border: 1px;
    border-radius: 100px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}
